* {
  margin: 0;
  padding: 0;
}
.top {
  font-weight: 400;
  font-style: bold;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
  color: white;
  height: 26px;
}
.navbar {
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid;
  border-top: 1px solid;
  background-color: whitesmoke;
  top: 0;
}
.material-symbols-outlined {
  margin-right: 10px;
  transform: scale(0.8);
  cursor: pointer;
}
.material-symbols-outlined:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.pic {
  width: 99vw;
  cursor: pointer;
}
.logo {
  transform: scale(0.8);
}
.sale1 {
  width: 19vw;
  height: 53vh;
  margin-left: 20vw;
  margin-top: 40px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.sale1:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.sale2 {
  width: 19vw;
  height: 53vh;
  margin-top: 40px;
  margin-left: 20px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.sale2:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.sale3 {
  width: 60vw;
  height: 53vh;
  margin-top: 20px;
  margin-left: 20vw;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.sale3:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.sale4 {
  margin-top: 13vh;
  margin-left: 20vw;
  height: 35vw;
  width: 28vw;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.sale4:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.text1 {
  width: 20vw;
  height: 20vh;
  text-align: center;
  margin-left: 7vw;
}
.cry {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 27vw;
}
.text {
  font-family: "Poppins", sans-serif;
  font-size: smaller;
  color: #232323;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.real {
  display: flex;
  justify-content: space-evenly;
  line-height: 1.2;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-top: 10vh;
  margin-bottom: 9px;
  width: 99vw;
  text-align: center;
}
.real1 {
  display: flex;
  justify-content: space-evenly;
  width: 99vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.items {
  margin-left: 20vw;
  margin-top: 25px;
  cursor: pointer;
}
.items:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.lol {
  display: flex;
  justify-content: space-evenly;
  width: 9.5vw;
  margin-left: 46vw;
  margin-top: 30px;
  transform: scale(2.5);
  cursor: pointer;
}
.lol:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 47px;
  margin-left: 47.1vw;
  margin-top: 20px;
  background-color: #b8b8b8;
  padding: 14px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: bolder;
}
.box:hover {
  transform: scale(1.03);
  transition: 0.2s;
  border: 2px solid grey;
  mask-position: 0%;
}
.ask {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 10vh;
  margin-left: 15px;
  color: #212529;
  transform: scaleY(0.9);
  letter-spacing: 0px;
  font-style: normal;
  font-weight: bolder;
}
.box1 {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 15px;
  width: 15vw;
  margin-left: 41vw;
  margin-top: 20px;
  background-color: #b8b8b8;
  color: #212529;
  padding: 14px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: bold;
}
.box1:hover {
  transform: scale(1.01);
  transition: 0.2s;
  border: 2px solid gray;
  mask-position: 0%;
}
.faq {
  display: flex;
  justify-content: left;
  justify-items: center;
  font-family: "Poppins", sans-serif;
  margin-left: 30vw;
  margin-top: 20px;
  margin-bottom: 10px;
}
.box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  font-weight: 800;
  color: black;
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  height: 5.6vh;
  margin-bottom: 10px;
  margin-left: 30vw;
  width: 40vw;
  border-radius: 6px;
  cursor: pointer;
}
.box2:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.box2 p {
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  margin-right: 10px;
}

.box3 {
  display: flex;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 20vh;
  width: 40vw;
  margin-left: 30vw;
}
.box4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5vw;
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  height: 5.5vh;
  width: 7vw;
  margin-bottom: 10px;
  border: 1px solid;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}
.box4:hover {
  background-color: #232323;
  color: white;
  transform: scale(1.03);
  transition: 0.3s;
  border: 2px solid gray;
}
.a1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: scale(2);
  margin-top: 15px;
  color: greenyellow;
}
.a2 {
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #212529;
  align-items: center;
}
.a3 {
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  align-items: center;
}
.insta {
  width: 100%;
  margin-top: 10vh;
}
.lstpic {
  width: 100%;
}

.bottomSection {
  height: 65vh;
  background-color: #262626;
}

.socialIcons {
  display: flex;
  justify-content: center;
}

.socialIcons > img {
  margin: 25px 0;
  width: 20px;
  height: 20px;
  margin-left: 3px;
  filter: invert(1);
}

.footer {
  margin-left: 150px;
  display: flex;
  justify-content: center;
}

.footer > div {
  width: 30vw;
  height: 20vh;
  font-size: 11px;
  margin-right: 20px;
  font: 700 white;
  font-family: "Poppins", sans-serif;
  color: white;
}

.footerForm > form > input {
  display: block;
  padding-left: 10px;
  width: 30vw;
  height: 30px;
  border: none;
  color: white;
  background-color: #5d5d5d;
  border-radius: 10px;
  margin-bottom: 10px;
}

.footerForm > form > input:hover {
  border: 1px white solid;
}

.footerForm > form > input::placeholder {
  color: whitesmoke;
}

.footerForm > form > button {
  display: block;
  height: 40px;
  width: 20vw;
  margin-top: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.footerForm > form > label > input {
  border-radius: 0px;
}

.footerForm > form > button {
  font-size: 1em;
  border: none;
  border-radius: 20px;
}

.footerLinks {
  margin-left: 30px;
}

.footerLinks > ul {
  list-style: none;
}

.stick {
  position: fixed;
  display: flex;
  align-items: start;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  text-align: center;
  background-color: #212529;
  font-weight: 900;
  font-size: 13px;
  padding: 10px;
  z-index: 1;
  left: -40px;
  top: 50vh;
  transform: rotate(90deg);
}
.stick:hover {
  background-color: black;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
  transition: 0.5s;
}

#feedback {
  padding-bottom: 90px;
  padding-top: 20px;
}

.redirect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 1.2em;
  margin-top: 5vh;
}
.home {
  display: flex;
  margin-top: 5vw;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgray;
  width: 6vw;
  height: 5vh;
  border-radius: 6px;
  border: 2px solid gray;
  cursor: pointer;
}
.home:hover {
  background-color: #262626;
  color: white;
  transition: 0.3s;
}
